.cabecalho {
    color: #370aec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px o;
}

.titulo{
    text-align: center;
}

.imagem{
    width: 20%;
}